nav(class="navbar navbar-light bg-light")
    div(class='container-fluid' style='max-width: 500px')
        if user
            a(href='/') Posts
            a(href='/log-out') Log Off
        else
            a(href='/') Posts
            a(href='/sign-up') Sign Up
            a(href='/log-in') Log In