extends layout 

block content
    div(class='container mt-5' style='max-width: 400px')
        h3(class='mb-4') Make Post
        form(method='post' action='' class='m-auto' style='max-width: 400px')
            div.form-group(class='mb-3')
                label.form-label(for='title') Title
                input#title.form-control(type='text' name='title')
            div.form-group(class='mb-3')
                label.form-label(for='content') Content
                input#content.form-control(type='text' name='content')
            button.btn.btn-dark(type='submit' class='mt-2') Make Post