extends layout

block content
    div(class='container mt-5' style='max-width: 400px')
        h3(class='mb-4') Sign Up
        form(method='post' action='/sign-up' )
            div.form-group(class='mb-3')
                label.form-label(for='username') Username
                input#username.form-control(type='text' name='username')
            div.form-group(class='mb-3')
                label.form-label(for='password') Password
                input#password.form-control(type='password' name='password')
            div.form-group(class='mb-3')
                label.form-label(for='confirm-password') Confirm Password
                input#confirm-password.form-control(type='password' name='confirmPassword')
            div.form-check(class='mb-3')
                input#admin.form-check-input(type='checkbox' name='admin')
                label.form-check-label(for='admin') Admin   
            button.btn.btn-dark(type='submit' class='mt-2') Sign Up